# Ignore Git-related files
.git/
.gitignore

# Ignore Python-related files
__pycache__/
*.pyc
*.pyo
*.env # Keep your .env file out of the image for security!
venv/
env/
.venv/
*.log
.pytest_cache/

# Ignore Node.js/Frontend related files if not needed in the backend image
node_modules/
npm-debug.log
yarn-error.log
build/
dist/
.vscode/ # VS Code configuration
*.log
# Docker files
docker-compose.yml
Dockerfile